<h1>Historique</h1>
<div class="mr-2 mb-3" *ngFor="let vote of votes">
  <div class="ml-2 mt-3 card" style="width: 30rem">
    <div class="ml-2 mt-3 row">
      <img class="img-responsive" src="{{vote.collegue.photo}}" alt="Photo collegue" style="width: 30%; height: 30%;">
      <div class="col">
          <p class="card-text mt-3">{{vote.collegue.pseudo}}</p>
          <div *ngIf="vote.avis == 'DETESTER'; else elseBlock">
              <p class="card-text mt-3" >{{vote.collegue.pseudo}} est détesté, cette personne a désormais un score de {{vote.collegue.score}}</p>
          </div>
          <ng-template #elseBlock>
              <p class="card-text mt-3" >{{vote.collegue.pseudo}} est aimé, cette personne a désormais un score de {{vote.collegue.score}}</p>
          </ng-template>
          <button class="btn btn-dark" (click)="onClick(vote)">Supprimer</button>
      </div>
    </div>
  </div>
</div>

