<app-menu></app-menu>
<div class="ml-2 mt-3 card" style="width: 20rem">
  <div align="center">
      <img class="img-responsive" src="{{collegue.photo}}" alt="Photo collegue" style="width: 15rem">
      <p class="card-text mt-3">{{collegue.pseudo}}</p>
      <p class="card-text">{{collegue.score}}</p>
      <p class="card-text">{{collegue.nom}}</p>
      <p class="card-text">{{collegue.prenom}}</p>
      <p class="card-text">{{collegue.email}}</p>
      <p class="card-text">{{collegue.adresse}}</p>
      <app-avis [enable]="enable" [disable]="disable" (avis)="traiterAvis($event)"></app-avis>
      <p>{{avisMessage}}</p>
  </div>
</div>
